:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-gray: #EEEEEE;
    --basic-brown: #766357;
    --basic-blue: #81B3D2;
    --special-extrabrown: #503E33;
    --special-darkbrown: #604E43;
    --special-extrablue: #5496BD;
    --special-darkblue: #669EC0;
    --special-darkgray: #F2F2F2;
    --special-extragray: #666666;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;   
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white); 
}

.page {
  height: 100%;
}

.main-navigation {
  display: grid;
  font-weight: 700;
  background-color: var(--basic-white);
}

.main-header-logo {
justify-self: center;
}

.main-navigation-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  color: var(--basic-black);
  text-decoration: none;
}

.site-navigation-left {
  justify-self: start; 
}

.site-navigation-right {
  justify-self: end; 
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.welcome {
  max-width: 100%;
  height: auto;
  background-image: url("img/background-index.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.features h2 {
  font-size: 21px;
  font-weight: 700;
  text-align: center;   
}

.features p {
  text-align: center;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item-white {
  grid-column: 1 / -1;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  background-position: 0 0;   
}

.feature-item-white h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
}

.feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-list-text {
  grid-column: 1 / 2;
}

.feature-list-image {
  grid-column: 2 / 4;
}

.features-list-nested {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
}

.features-list-nested h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.feature-item {
  line-height: 21px;
  text-align: center;
  background-color: var(--basic-gray); 
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.search-hotel {
  line-height: 24px;
  text-align: center;  
}

.search-hotel h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.btn-open-form {
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  border: none; 
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  justify-self: center;
  font-size: 21px;
  font-weight: 700;
}

.footer-contacts a {
  text-decoration: none;
  color: var(--basic-black);
}

.footer-social {
  justify-self: center;
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social a {
  text-decoration: none;
}

.social-button {
  background-color: var(--basic-blue);
}

.information:hover {
  color: var(--basic-blue);
}

.information:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation-current {
  color: var(--basic-brown);
}

.page-catalog {
  max-width: 100%;
  height: auto;
  background-image: url("img/background-catalog.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filters ul {
  list-style: none;
  line-height: 21px;
}

.filter-input-checkbox:hover + label {
  color: var(--basic-black);
}

.cost legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.cost input {
  font-size: 14px;
  line-height: 21px;
}

.filter-button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 2px;
}

.filter-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.catalog-sort {
  background-color: var(--basic-white);
}

.catalog-sort h3 {
  font-size: 21px;
  font-weight: 700;
}

.catalog-sort p {
  font-size: 12px;
  line-height: 18px;
}

.catalog-sort ul {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.catalog-sort-list a {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-sort-list a:hover {
  color: var(--basic-blue);
}

.catalog-sort-list a:focus {
  color: var(--basic-black);
  opacity: 1;
  border: 1px dashed var(--basic-blue);
}

.catalog {
  background-color: var(--basic-white);
}

.catalog-list {
  list-style: none;
}

.catalog-item a {
  color: var(--basic-black);
  text-decoration: none;
}

.catalog-item h3 {
  font-size: 21px;
  font-weight: 700;
}

.catalog-item h3:hover {
  color: var(--basic-blue);
}

.catalog-item h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-item p {
  font-size: 14px;
  line-height: 21px;
}

.catalog-item span {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color:var(--special-extragray);
  background-color: var(--special-darkgray);
}

.button-detail {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.button-detail:hover {
  color: var(--basic-white);
  background-color: var(--special-darkblue);
}

.button-detail:focus {
  color: var(--basic-white);
  background-color: var(--special-extrablue);
}

.button-reserv {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.button-reserv:hover {
  color: var(--basic-white);
  background-color: var(--special-darkbrown);
}

.button-reserv:focus {
  color: var(--basic-white);
  background-color: var(--special-extrabrown);
}
